<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RPG-CMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a class="navbar-brand" href="/">RPG-CMS</a>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">

                    <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>

                </ul>

                @Html.Partial("_LoginPartial");

            </div>

        </div>

    </nav>

    <div class="container body-content">
        <div class="container m-lg-5">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - RPG-CMS</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
